@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
/* Custom Properties */
:root {
  --ff-primary: "Public Sans", sans-serif;
  --clr-dark-blue: hsl(233, 26%, 24%);
  --clr-lime-green: #31d35c;
  --clr-bright-cyan: #2bb7da;
  --clr-grayish-blue: hsl(233, 8%, 62%);
  --clr-light-grayish-blue: hsl(220, 16%, 96%);
  --clr-light-gray: hsl(0, 0%, 98%);
  --fw-light: 300;
  --fw-reg: 400;
  --fw-bold: 700;
  --fs-h1: 2.5rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
@media (min-width: 1024px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.4rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */
body {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  color: var(--clr-font);
  background-color: var(--clr-background);
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
}
a:hover {
  transition: 300ms;
  color: var(--clr-lime-green) !important;
}
main {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--fw-light);
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
/* @media (min-width: 1024px) {
  section {
    height: 660px;
  }
} */
/* Utility classes */
.container {
  width: 90%;
  height: 100%;
  margin: auto;
}
.text,
.title {
  margin: 15px 0;
}
.content {
  text-align: center;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.hide-mobile {
  display: none;
}

.title {
  color: var(--clr-dark-blue);
}
.text {
  color: var(--clr-grayish-blue);
}
.request {
  background: rgb(49, 211, 92);
  background: linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 0%,
    rgba(43, 183, 218, 1) 100%
  );
  padding: 15px 35px;
  border-radius: 25px;
  color: white;
  font-weight: var(--fw-bold);
  margin: 50px auto;
  width: fit-content;
}
.request:hover {
  opacity: 0.7;
  transition: 300ms;
}
.request a {
  color: white;
  width: 100%;
}
@media (min-width: 1024px) {
  .container {
    width: 80%;
  }
  .flex-container {
    flex-direction: row;
  }
  section {
    height: 660px;
  }
  .request {
    margin: 0;
  }
}
/* Navbar */
header {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar .flex-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  background-color: white;
  z-index: 100;
  box-shadow: var(--bs);
}
.navbar .container {
  position: relative;
}
.menu {
  height: 265px;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  background-color: white;
  top: 60px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 250px 100px rgba(0, 0, 0, 0.75);
  z-index: -1;
  list-style-type: none;
}
.menu.on {
  display: flex;
  animation-duration: 300ms;
  animation-name: menu-animation;
}

@keyframes menu-animation {
  from {
    top: -265px;
  }
  to {
    top: 60px;
  }
}
.menu a {
  text-decoration: none;
  color: var(--clr-dark-blue);
}
/* Hamburger menu */
.hamburger {
  padding: 1rem;
  display: inline-block;
  width: fit-content;
  align-self: flex-end;
  justify-self: center;
}
.hamburger-icon {
  position: relative;
  cursor: pointer;
  z-index: 1000;
  border: none;
  background: none;
  outline: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 12px;
}
.hamburger-line {
  display: block;
  height: 1px;
  width: 24px;
  background-color: black;
}
.hamburger.hamburger.on .hamburger-line:nth-child(1) {
  animation: topBurger 300ms forwards;
}
@keyframes topBurger {
  50% {
    transform: translate(0, 4.5px);
  }
  100% {
    transform: translate(0, 4.5px) rotate(45deg);
  }
}
.hamburger.on .hamburger-line:nth-child(2) {
  visibility: hidden;
}

.hamburger.on .hamburger-line:nth-child(3) {
  animation: bottomBurger 300ms forwards;
}
@keyframes bottomBurger {
  50% {
    transform: translate(0, -4.5px);
  }
  100% {
    transform: translate(0, -4.5px) rotate(-45deg);
  }
}
@media (min-width: 1024px) {
  .menu {
    height: fit-content;
    position: static;
    display: flex;
    z-index: 0;
    box-shadow: none;
    flex-direction: row;
    list-style: none;
    padding: 25px;
    justify-content: center;
    gap: 50px;
    width: fit-content;
  }
  .menu li {
    width: fit-content;
  }
  .hamburger {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}

/* Next Generation */
.next-generation {
  background-color: var(--clr-light-gray);
}
.next-generation .image {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url(images/bg-intro-mobile.svg);
  background-size: cover;
  background-position: 0;
}
.next-generation .image img {
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* .next-generation .content {
  text-align: center;
} */
@media (min-width: 1024px) {
  .next-generation > .flex-container {
    flex-direction: row-reverse;
    height: 100%;
    align-items: center;
    margin-left: 10%;
  }
  .next-generation .content {
    height: fit-content;
    width: 100%;

    text-align: left;
  }
  .next-generation .image {
    height: 100%;
    background-image: url(images/bg-intro-desktop.svg);
  }
  .next-generation .image img {
    height: 140%;
    top: 0%;
    left: 3%;

    width: auto;
  }
  .menu a {
    color: var(--clr-grayish-blue);
  }
}

/* Why easybank */
.feature {
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 25px 0;
}
.feature img {
  width: 20%;
  margin: 25px 0;
}
@media (min-width: 1024px) {
  .why-easybank > .flex-container {
    flex-direction: column;
  }
  .why-easybank .content {
    text-align: left;
    width: 50%;
  }
  .feature {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .feature img {
    width: 70px;
  }
}
/* Latest Articles */
.latest-articles {
  background-color: var(--clr-light-gray);
}
.article {
  margin: 25px 0;
  background: white;
  box-shadow: var(--bs);
}
.article .content span {
  font-size: 0.6rem;
}

.article .content {
  text-align: left;
  padding: 25px 20px;
}
@media (min-width: 1024px) {
  .articles {
    gap: 30px;
  }
  .article {
    flex-direction: column;
    border-radius: 5px;
  }
  .article img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .article .content span {
    font-size: 0.6rem;
  }
  .article .content p {
    font-size: 0.8rem;
  }
}
/* Footer */
.footer {
  background-color: var(--clr-dark-blue);
  padding: 15px 0;
}
.footer > .flex-container {
  justify-content: space-around;
  align-items: center;
}
.socials {
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 15px;
}
.footer .flex-container > div {
  margin: 15px 0;
}
.socials img {
  width: 25px;
}
.footer .links ul {
  padding: 0;
}
.footer .links li {
  text-align: center;
  padding: 0;
  list-style: none;
  margin: 10px;
}

.footer .link {
  text-decoration: none;
  color: white;
}
@media (min-width: 1024px) {
  .footer .flex-container {
    justify-content: space-between;
  }
  .footer .wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .footer .flex-container .links {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    flex-grow: 1;
    gap: 100px;
  }
  .footer .links li {
    text-align: left;
  }
}
